<html>
  <head>
    <title>Movie App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <% if(queryResult==='') { %>
      <h1 class="text-center">Not Found Please Try Again latter !</h1>
      <ul class="nav">
        <li class="nav-item w-100">
          <a class="nav-link active text-center" href="/">Go to Home page</a>
        </li>
      </ul>
      <% } else { %>
      <h1 class="text-center">Result : <%= queryResult %></h1>
      <ul class="nav">
        <li class="nav-item w-100">
          <a class="nav-link active text-center" href="/">Go to Home page</a>
        </li>
      </ul>
      <% data["results"].forEach((movie)=> { %>
      <div class="card w-75 m-auto">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="http://www.themoviedb.org/t/p/w600_and_h900_bestv2<%=movie["poster_path"] %>" class="card-img img-fluid">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Title:<%= movie["original_title"] %></h2>
              <p class="card-text">Overview:<%= movie["overview"] %></p>
              <p class="card-text">
                <b>Popularity:</b> <%= movie["popularity"] %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    <% } %>
    </div>
  </body>
</html>
