<%- include('./partials/header') -%>
<div class="container">
  <%- include('./partials/messages') -%>

  <h2 class="text-center text-danger">Admin Dashboard</h2>
  
  <div class="row mb-5">
    <div class="col-xl-12 col-sm-12">
      <div class="cart-body text-white p-3 bg-primary text-center rounded">
        Total Products <%= products.length %>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xl-2 col-sm-2">
      <%- include('./partials/sidebar') -%>
    </div>

    <div class="col-xl-10 col-sm-10 d-flex flex-wrap flex-wrap align-items-center">
      <table
        class="table table-bordered"
        id="dataTable"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
          </tr>
        </tfoot>

        <tbody>
          <% products.forEach((product)=>{ %>
          <tr>
            <td class="text-center">
              <img
                src="<%= product.imageUrl %>"
                class="img-fluid rounded w-25"
                alt="Responsive image"
              />
            </td>
            <td class=" text-center" ><%= product.name %></td>
            <td class=" text-center" ><%= product.price %> $</td>
            <td class=" text-center" ><%= product.description %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

    </div>

  </div>

  <%- include('./partials/footer') -%>
</div>
