<%- include('../partials/header') -%>

<% jobs.forEach((job)=>{ %>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= job.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= job.description %></h6>
      <p class="card-text"><%= job.email %></p>
      <p class="card-text"><%= job.address %></p>
      <p class="card-text"><%= job.company %></p>
      <p class="card-text"><%= job.industry %></p>
      <p class="card-text"><%= job.jobType %></p>
      <p class="card-text"><%= job.minEducation %></p>
      <p class="card-text"><%= job.experience %></p>
      <p class="card-text"><%= job.salary %></p>
    </div>
  </div>
  <% }) %>

<%- include('../partials/footer') -%>
