<%- include('secondary/header') -%>

    <div class="container">
      <h1 class="text-center">Table of Employees</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
             <% employees.forEach((employee)=>{ %>
              <tr>
                <td><%= employee.name %></td>
                <td><%= employee.designation %></td>
                <td><%= employee.salary %></td>
                <td>
                  <div class="row">
                  <div class="col-md-4">
                    <a href="/update/<%= employee.id %>" class="btn btn-primary">
                        <span>Edit</span>
                    </a>
                  </div>
                  <div class="col-md-4">
                    <form action="/delete/<%= employee.id %>?_method=DELETE"  method="POST">
                      <div class="form-group">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="btn btn-primary" type="submit" value="Delete">
                      </div>
                    </form>
                  </div>
                </div>
                </td>
              </tr>
             <% }) %>
            </tbody>
          </table>
    </div>
<%- include('secondary/footer') -%>


