<%- include('secondary/header') -%>
<div class="container col-md-4">
<h1 class="text-center">Search System</h1>

<form action="/employee" method="GET" class="mb-2">
    <div class="form-group">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Search">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>

<% if(employee) { %>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.designation %></td>
        <td><%= employee.salary %></td>
      </tr>
    </tbody>
  </table>
<% } %>
</div>
<%- include('secondary/footer') -%>
