<h1>StackOverFlow Questions</h1>

<% questions.forEach((question)=> { %>

    <% if(question['user'].toLowerCase() === 'john') { %>
        <h2> <%= question['title'] %></h2>
        <p><%= question['user'] %></p>
        <p><%= question['votes'] %></p>
    <% } else { %>
        <h1>Asked by other users:</h1>
        <h2> <%= question['title'] %></h2>
        <p><%= question['user'] %></p>
        <p><%= question['votes'] %></p>
    <% } %>
    
<% }); %>