<%- include('secondary/header') -%>
<div class="container">
  <h1 class="text-center">Update Employee</h1>

  <form action="/update/<%= employee.id %>?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        value="<%= employee.name %>"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter name"
      />
    </div>
    <div class="form-group">
      <label for="designation">Designation</label>
      <input
        type="text"
        value="<%= employee.designation %>"
        class="form-control"
        id="designation"
        name="designation"
        placeholder="Enter designation"
      />
    </div>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input
        type="text"
        class="form-control"
        value="<%= employee.salary %>"
        name="salary"
        id="salary"
        placeholder="Enter salary"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Submit
    </button>
  </form>
</div>
<%- include('secondary/footer') -%>
